In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Dataset
dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

df["job_posted_date"] = pd.to_datetime(df.job_posted_date)

c:\Users\Liam McCann\Anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [5]:
df2 = df.copy()

df2["job_posted_date_str"] = df2["job_posted_date"].apply(lambda date: date.strftime("%Y-%m-%d"))

In [7]:
type(df2["job_posted_date_str"][0])

str

In [10]:
df3 = df.copy()

def change_str(row):
    return row.strftime("%H:%M")

df3["job_posted_date_str"] = df3["job_posted_date"].apply(lambda date: date.strftime("%H:%M"))

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
 17  job_posted_date_str    785741 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(12)
memory usage: 92.2+ MB

In [11]:
df3["job_posted_date_str"] = df3["job_posted_date"].apply(change_str)

In [19]:
import datetime as dt

df4 = df.copy()

In [27]:
# def datesp(row):
#     return (dt.datetime.now() - row["job_posted_date"]).days

# df4["days_since_posted"] = df4.apply(datesp, axis=1)

df4["days_since_posted"] = df4.apply(lambda row: (dt.datetime.now() - row["job_posted_date"]).days, axis=1)

In [28]:
df4["days_since_posted"]

0         484
1         638
2         369
3         467
4         432
         ...
785736    580
785737    581
785738    581
785739    581
785740    580
Name: days_since_posted, Length: 785741, dtype: int64

In [50]:
df5 = df.copy()

def salary_category(row):
    if pd.isna(row["salary_year_avg"]):
        return None
    elif row["salary_year_avg"] < 50_000:
        return "Low"
    elif  50_000 <= row ["salary_year_avg"] <= 100_000:
        return "Medium"
    elif row["salary_year_avg"] > 100_000:
        return "High"

    
df5["salary_category"] = df5.apply(salary_category, axis = 1)

In [53]:
df5["salary_category"] = df5.apply(lambda row: None if pd.isna(row["salary_year_avg"]) else "High" if row["salary_year_avg"] > 100_000 else "Medium" if 50_000 <= row["salary_year_avg"] <= 100_000 else "Low", axis = 1)